.page-header,
.page-header h1,
.page-header h2 {
  margin-top: 0;
}

.header {
  padding-bottom: 15px;
}

.codehilite pre {
  color: inherit;
  background: inherit;
  background-color: inherit;
  font-style: inherit;
  text-decoration: inherit;
  font-weight: inherit;
  border: inherit;
  border-radius: inerhit;
}

.codehilite  {
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.codehilite pre {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.codehilite {
  padding: .8em 1em;
  margin-bottom: 2.1em;
  border: 1px solid #ededed;
  border-radius: .4em;
}

.codehilite pre {
  border: none;
  border-radius: 0px;
  margin-bottom: 0px;
}

.code_title {
  margin-bottom: 0;
  font-weight: bold;
  font-size: 1.5em;
  padding-left: 5px;
  padding-bottom: 0;
  border: 3px solid #ededed;
  border-bottom: 0;
  background-color: #efefef;
}
