<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title">Profile</h3>
  </div>
  <div class="panel-body">
    <ul class="list-unstyled">
      <li><a href="http://github.com/bdrewery">Github: @bdrewery</a></li>
    </ul>
  </div>
</div>
<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title">Projects</h3>
  </div>
  <div class="panel-body">
    <ul class="list-unstyled">
      <li><a href="http://www.FreeBSD.org">FreeBSD committer</a></li>
      <li><a href="http://github.com/freebsd/poudriere">poudriere</a></li>
      <li><a href="http://github.com/freebsd/pkg">pkg</a></li>
      <li><a href="http://github.com/bdrewery/zfstools">zfstools</a></li>
      <li><a href="http://github.com/wraith/wraith">wraith IRC Bot</a></li>
      <li><a href="http://github.com/bdrewery/bdlib">bdlib</a></li>
      <li><a href="http://github.com/bdrewery/PyBorg">PyBorg IRC AI Bot</a></li>
    </ul>
  </div>
</div>
<div class="panel panel-success">
  <div class="panel-heading">
    <h2 class="panel-title">Tags</h2>
  </div>
  <div class="panel-body">
    {% for tag in all_tags|sort %}
    {#<a href="{{ url_for('tag', tag=tag) }}">{{ tag }}({{ all_tags[tag] }})</a>#}
    <a href="{{ url_for('tag', tag=tag) }}">{{ tag }}</a>
    {% endfor %}
  </div>
</div>
