<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title">Profile</h3>
  </div>
  <div class="panel-body">
    <ul class="list-unstyled">
      <li><a href="http://github.com/bdrewery">Github: @bdrewery</a></li>
      <li><a href="http://twitter.com/bdrewery">Twitter: @bdrewery</a></li>
      <li><a href="https://www.ohloh.net/accounts/bdrewery">Ohloh</a></li>
    </ul>
  </div>
</div>
<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title">Projects</h3>
  </div>
  <div class="panel-body">
    <ul class="list-unstyled">
      <li><a href="http://www.FreeBSD.org">FreeBSD committer</a></li>
      <li><a href="https://www.freebsd.org/portmgr/">FreeBSD Portmgr</a></li>
      <li><a href="http://github.com/freebsd/poudriere">poudriere</a></li>
      <li><a href="http://github.com/freebsd/pkg">pkg</a></li>
      <li><a href="http://github.com/bdrewery/zfstools">zfstools</a></li>
      <li><a href="http://github.com/wraith/wraith">wraith IRC Bot</a></li>
      <li><a href="http://github.com/bdrewery/bdlib">bdlib</a></li>
      <li><a href="http://github.com/bdrewery/PyBorg">PyBorg IRC AI Bot</a></li>
      <li><a href="http://github.com/freebsd/portupgrade">portupgrade</a></li>
    </ul>
  </div>
</div>

<span class="icon-large icon-rss"></span>
