<div class="panel panel-success">
  <div class="panel-heading">
    <h2 class="panel-title">Tags</h2>
  </div>
  <div class="panel-body">
    {% for tag in all_tags|sort %}
    {#<a href="{{ url_for('tag', tag=tag) }}">{{ tag }}({{ all_tags[tag] }})</a>#}
    <a href="{{ url_for('tag', tag=tag) }}">{{ tag }}</a>
    {% endfor %}
  </div>
</div>

<ul class="list-unstyled">
  {% for year, year_posts in recent_posts|groupby("date.year")|sort(reverse=True) %}
  <li>
    {{ year }}
    <ul>
      {% for post in year_posts %}
      <li>
        {{ "%02d-%02d"|format(post.date.month, post.date.day) }} - <a href="{{ url_for('post', path=post.path) }}">{{ post.title }}</a>
      </li>
      {% endfor %}
    </ul>
  </li>
  {% endfor %}
</ul>
